<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your Beans here -->

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="pizzaDelivery" class="com.agency04.sbss.pizza.service.PizzaDeliveryServiceImpl">
        <constructor-arg index="0" ref="dominos"/>
        <property name="pizzaHutPizzeria" ref="pizzahut" />
    </bean>

    <bean id="dominos" class="com.agency04.sbss.pizza.service.DominosPizzeria">
        <property name="name" value="Domino's"/>
        <property name="address" value="123 Pizza Av."/>
    </bean>

    <bean id="pizzahut" class="com.agency04.sbss.pizza.service.PizzaHutPizzeria">
        <property name="name" value="${pizzaHut.name}"/>
        <property name="address" value="${pizzaHut.address}"/>
    </bean>

</beans>